* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: url(images/mountain.jpg);
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  position: relative;
  float: left;
}

.navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
}

.navbar ul li a:hover {
  color: #fff;
  background: #333;
}

.navbar ul li ul {
  display: none;
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
}

.navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar ul li ul li ul {
  top: 0;
  left: -100%;
  margin-left: 1px;
}

#menu,
header label {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
  }
  .navbar ul {
    width: 100%;
  }
  .navbar ul li {
    width: 100%;
  }
  .navbar ul li ul {
    position: relative;
    width: 100%;
    display: none;
    flex-direction: column;
  }
  .navbar ul li ul li {
    background-color: #eee;
  }
  .navbar ul li:hover > ul {
    display: flex;
  }
  .navbar ul li ul li:hover > ul {
    display: flex;
  }
  .navbar ul li ul li ul {
    display: none;
    flex-direction: column;
    left: 0;
  }
  .navbar ul li ul li:hover > ul {
    display: flex;
  }
  #menu:checked + label + .navbar {
    display: flex;
  }
}